body {
	background: #29a500;
	font-family: tahoma;
}
	
#cabecalho {
	padding: 8px;
}

#cabecalho img {
	width: 980px;
	height: 300px;
}

#conteudo {
	background: #217b00;
	padding: 8px;
	width:1000px;
	float: left;
	color: white;
}

h1 {
	text-shadow: 1px 1px 1px black;
}

#conteudo_2 {
	background: #217b00;
	padding: 8px;
	width: 500px;
	float: left;
	margin-left: 20px;
	color: white;
}

#conteudo_2 img {
	width: 500px;
	height: 200px;
}